@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Michael Svensson<br />
    Tomatgatan 21<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ms@msdatakonsult.se">ms@msdatakonsult.se</a><br />
</address>